/* components/Header.css */

/* Navbar brand style */
.navbar-brand {
  font-size: 26px;
  font-weight: bold;
  color: rgb(255, 255, 255) !important;
  margin-left: 6%; /* Adjust this value as needed */
  margin-right: 0px;
}

/* Navbar link styles */
.nav-item {
  font-size: 18px;
  padding: 15px 15px;
  color: rgb(255, 255, 255);
  text-decoration: none;
}

.nav-item.active {
  font-weight: bold;
  color: rgb(255, 255, 255) !important;
  border-bottom: 2px solid #332add;
}

.nav-item:hover {
  color: rgb(255, 255, 255);
  text-decoration: none;
}

.RainLogo{
  height:50px;
}